.board {
  width: 500px;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.board > * {
  display: flex;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}
